In [1]:
from poandy.controller.instrument import InstrumentController
from poandy.controller.account import AccountController

import pandas as pd

In [2]:
account_id = AccountController.get_default_account_id()

In [3]:
instruments = AccountController.get_tradeable_instruments(account_id, names_only=True)
instruments

['XAU_AUD',
 'AUD_CHF',
 'USD_INR',
 'UK10YB_GBP',
 'DE10YB_EUR',
 'USD_SEK',
 'GBP_SGD',
 'US30_USD',
 'SOYBN_USD',
 'XAG_AUD',
 'SGD_JPY',
 'SGD_HKD',
 'EUR_CHF',
 'USB30Y_USD',
 'XAU_NZD',
 'NZD_CAD',
 'XAU_GBP',
 'XAU_JPY',
 'EUR_NOK',
 'USD_JPY',
 'EUR_TRY',
 'SG30_SGD',
 'AUD_HKD',
 'NZD_SGD',
 'XAG_CHF',
 'EUR_NZD',
 'XPT_USD',
 'NL25_EUR',
 'XAU_EUR',
 'EUR_SGD',
 'XAU_SGD',
 'TRY_JPY',
 'USD_CHF',
 'AUD_SGD',
 'EUR_CZK',
 'TWIX_USD',
 'CORN_USD',
 'WTICO_USD',
 'XAU_USD',
 'EUR_CAD',
 'AUD_USD',
 'GBP_PLN',
 'EUR_USD',
 'NAS100_USD',
 'XAU_HKD',
 'CAD_HKD',
 'NZD_CHF',
 'CHF_HKD',
 'USD_ZAR',
 'EUR_JPY',
 'NZD_JPY',
 'EU50_EUR',
 'AU200_AUD',
 'USD_TRY',
 'GBP_JPY',
 'EUR_DKK',
 'EUR_PLN',
 'EUR_HKD',
 'FR40_EUR',
 'GBP_CAD',
 'USD_SAR',
 'HK33_HKD',
 'XAG_USD',
 'USB05Y_USD',
 'USD_THB',
 'GBP_CHF',
 'UK100_GBP',
 'USD_CAD',
 'SGD_CHF',
 'XAU_CHF',
 'XAG_CAD',
 'XPD_USD',
 'BCO_USD',
 'IN50_USD',
 'JP225_USD',
 'CN50_USD',
 'NATGAS_USD',
 'DE30_EUR',
 'USD_PLN',
 'GBP_AUD',
 'USD_MXN',
 'GBP_USD',
 'CAD_CHF',
 'XAG_HKD',
 'WHEAT_USD',
 'EUR_GBP',
 'XAG_SGD',
 'EUR_HUF',
 'XAG_EUR',
 'NZD_USD',
 'CHF_ZAR',
 'GBP_NZD',
 'USD_NOK',
 'USD_CZK',
 'CAD_SGD',
 'US2000_USD',
 'AUD_CAD',
 'ZAR_JPY',
 'USD_DKK',
 'GBP_HKD',
 'USD_HUF',
 'USB10Y_USD',
 'XAG_JPY',
 'XAG_GBP',
 'CAD_JPY',
 'USD_SGD',
 'EUR_SEK',
 'SUGAR_USD',
 'SPX500_USD',
 'USD_HKD',
 'EUR_AUD',
 'XAU_XAG',
 'AUD_NZD',
 'EUR_ZAR',
 'HKD_JPY',
 'CHF_JPY',
 'XCU_USD',
 'USB02Y_USD',
 'XAG_NZD',
 'XAU_CAD',
 'NZD_HKD',
 'AUD_JPY',
 'USD_CNH',
 'GBP_ZAR']

In [4]:
candles = InstrumentController.get_candles("USD_CAD")
candles

{'instrument': 'USD_CAD',
 'granularity': 'S5',
 'candles':      complete  volume                time     open     high      low    close
 0        True       2 2020-09-28 13:35:50  1.33686  1.33686  1.33684  1.33684
 1        True       7 2020-09-28 13:35:55  1.33686  1.33686  1.33676  1.33676
 2        True       6 2020-09-28 13:36:00  1.33674  1.33674  1.33664  1.33666
 3        True       5 2020-09-28 13:36:05  1.33663  1.33663  1.33656  1.33658
 4        True       3 2020-09-28 13:36:10  1.33660  1.33662  1.33660  1.33660
 ..        ...     ...                 ...      ...      ...      ...      ...
 495      True       1 2020-09-28 14:23:50  1.33640  1.33640  1.33640  1.33640
 496      True       2 2020-09-28 14:23:55  1.33642  1.33644  1.33642  1.33644
 497      True       5 2020-09-28 14:24:00  1.33642  1.33644  1.33642  1.33642
 498      True       2 2020-09-28 14:24:05  1.33644  1.33644  1.33642  1.33642
 499      True       2 2020-09-28 14:24:10  1.33640  1.33640  1.33636  1.33636

 [500 rows x 7 columns]}

In [5]:
candles['candles']

     complete  volume                time     open     high      low    close
0        True       2 2020-09-28 13:35:50  1.33686  1.33686  1.33684  1.33684
1        True       7 2020-09-28 13:35:55  1.33686  1.33686  1.33676  1.33676
2        True       6 2020-09-28 13:36:00  1.33674  1.33674  1.33664  1.33666
3        True       5 2020-09-28 13:36:05  1.33663  1.33663  1.33656  1.33658
4        True       3 2020-09-28 13:36:10  1.33660  1.33662  1.33660  1.33660
..        ...     ...                 ...      ...      ...      ...      ...
495      True       1 2020-09-28 14:23:50  1.33640  1.33640  1.33640  1.33640
496      True       2 2020-09-28 14:23:55  1.33642  1.33644  1.33642  1.33644
497      True       5 2020-09-28 14:24:00  1.33642  1.33644  1.33642  1.33642
498      True       2 2020-09-28 14:24:05  1.33644  1.33644  1.33642  1.33642
499      True       2 2020-09-28 14:24:10  1.33640  1.33640  1.33636  1.33636

[500 rows x 7 columns]

In [6]:
orderbook = InstrumentController.get_orderbook("USD_CAD")
orderbook

{'instrument': 'USD_CAD',
 'time': datetime.datetime(2020, 9, 28, 14, 20),
 'unixTime': '1601302800',
 'price': 1.33636,
 'bucketWidth': 0.0005,
 'buckets':              price  longCountPercent  shortCountPercent
 0     0.000000e+00            0.0599             0.0359
 1     5.000000e-04            0.0120             0.0060
 2     1.000000e-03            0.0000             0.0060
 3     2.500000e-03            0.0060             0.0000
 4     5.000000e-03            0.0120             0.0060
 ...            ...               ...                ...
 1895  6.021560e+07            0.0000             0.0060
 1896  7.225872e+07            0.0000             0.0060
 1897  8.671046e+07            0.0000             0.0060
 1898  1.000000e+08            0.0000             0.0060
 1899  1.000000e+09            0.0000             0.0120

 [1900 rows x 3 columns]}

In [7]:
orderbook['buckets']

             price  longCountPercent  shortCountPercent
0     0.000000e+00            0.0599             0.0359
1     5.000000e-04            0.0120             0.0060
2     1.000000e-03            0.0000             0.0060
3     2.500000e-03            0.0060             0.0000
4     5.000000e-03            0.0120             0.0060
...            ...               ...                ...
1895  6.021560e+07            0.0000             0.0060
1896  7.225872e+07            0.0000             0.0060
1897  8.671046e+07            0.0000             0.0060
1898  1.000000e+08            0.0000             0.0060
1899  1.000000e+09            0.0000             0.0120

[1900 rows x 3 columns]

In [8]:
positionbook = InstrumentController.get_positionbook("USD_CAD")
positionbook

{'instrument': 'USD_CAD',
 'time': datetime.datetime(2020, 9, 28, 14, 20),
 'unixTime': '1601302800',
 'price': 1.33636,
 'bucketWidth': 0.0005,
 'buckets':       price  longCountPercent  shortCountPercent
 0    1.1825            0.0000             0.0065
 1    1.2065            0.0000             0.0065
 2    1.2070            0.0065             0.0000
 3    1.2080            0.0000             0.0065
 4    1.2100            0.0000             0.0195
 ..      ...               ...                ...
 488  1.4615            0.0065             0.0000
 489  1.4630            0.0065             0.0065
 490  1.4635            0.0065             0.0000
 491  1.4645            0.0065             0.0000
 492  1.4655            0.0065             0.0000

 [493 rows x 3 columns]}

In [9]:
positionbook['buckets']

      price  longCountPercent  shortCountPercent
0    1.1825            0.0000             0.0065
1    1.2065            0.0000             0.0065
2    1.2070            0.0065             0.0000
3    1.2080            0.0000             0.0065
4    1.2100            0.0000             0.0195
..      ...               ...                ...
488  1.4615            0.0065             0.0000
489  1.4630            0.0065             0.0065
490  1.4635            0.0065             0.0000
491  1.4645            0.0065             0.0000
492  1.4655            0.0065             0.0000

[493 rows x 3 columns]